<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>MrcEvent</title>
</head>
<body class="text-white">
<ul class="nav justify-content-around" style="font-size: 200%;background-color: #9575cd">
    <li class="nav-item">
       <a class="nav-link myRef" href="/locations">Locations</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-white  " href="/"><img src="/img/logo.png" width="75px" class="myRef"></a>
    </li>
    <li class="nav-item ">
        <a class="nav-link myRef" href="/videos">Magic shop</a>
    </li>

</ul>
