{{ > header}}
<div class="container-fluid" style="padding: 10px;">
    <div class="bg-secondary">
    <div id="carouselExampleSlidesOnly"  class="carousel slide" data-ride="carousel" >
        <div class="carousel-inner" >
            <div class="carousel-item active">
                <img class="myImageCar" src="/img/2.png" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>JEREMY MAGIE</h5>
                    <p>I <3 MAGIE</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="myImageCar" src="/img/3.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block text-dark">
                    <h5>JEREMY MAGIE</h5>
                    <p>I <3 MAGIE</p>
                </div>
            </div>

        </div>
    </div>
    </div>
</div>

<div class="container-fluid bg-dark text-white" >
        <h3 class=" "> Plus d'informations</h3>
    <div class="row" style="margin: 20px">
        <div class="col-sm-2 col-12">
            <img src="/img/ui.png" class="imgIconPrinc">
        </div>
        <div class="col-sm-10 col-12 text-center" style="font-size : 20px">
            Vous pouvez retrouver sur ce site diverses informations relatives à mon activité
        </div>
    </div>
    <hr>
    <div class="row" style="margin: 20px">
        <div class="col-sm-10 col-12 text-center" style="font-size : 20px">
            Un onglet est à votre disposition pour pouvoir consulter les différentes vidéos
        </div>
        <div class="col-sm-2 col-12">
            <img src="/img/star.png" class="imgIconPrinc">
        </div>

    </div>
</div>
{{ > footer }}