{{ > header }}
<div class="container bg-secondary text-white" style="margin-bottom: 10px">
</div>
<div class="text-center">
    <video controls style="width: 75vw">
        <source src="/videos/{{lienVid}}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>

<div class="container-fluid bg-dark text-white text-center row " style="padding: 50px;margin: 0">
    <div class="col-12 col-sm-4">
        <img src="/img/{{lienImg}}" width="50%">
    </div>
    <div class="col-12  col-sm-4">
        <h3 class="" style="margin-bottom: 40px">{{titre}}</h3>
        {{#admin}}
        <a href="/delete/{{id}}" class="btn btn-danger">Supprimer</a>
        {{/admin}}
    </div>
    <div class="col-12  col-sm-4">
        <h5>Entrez le code pour voir la solution</h5>
        <form action="/solution/{{id}}" method="post" class="form-inline d-flex justify-content-center">
            <input type="text" class="form-control mb-2 mr-sm-2" pattern="[0-9]{3,30}" id="inlineFormInputName2" name="monCode" placeholder="Code">

            <button type="submit" class="btn btn-primary mb-2">Valider</button>
        </form>
    </div>

</div>

{{ > footer}}