{{ > header}}
        <div class="container " style="border-bottom-left-radius: 15px;border-bottom-right-radius: 15px; background-color: #424242">
    <div class="row">
        <div class="col-4"></div>
        <h1 class="col-4" style="margin-bottom: 40px;">Liste des vidéos</h1>
        {{#isAdmin}}
        <div class="col-4"> <a class="btn panel btn-info" href="/ajoutVid">Ajouter une vidéo</a></div>
        {{/isAdmin}}
    </div>

    <hr>
    {{#myResult}}
    <a href="/detailVid/{{id}}">
        <div class="row">
            <div class="col-2">
                <img src="/img/{{lienImg}}" width="150%">
            </div>
            <div class="col text-center " style="color: #fff;" >
                <h2 class="">{{titre}}</h2>
            </div>
        </div>
    </a>
    <hr>
    {{/myResult}}

</div>

{{ > footer}}