{{ > header}}
<div class="text-center">
    <video controls style="width: 75vw">
        <source src="/videos/{{lienSol}}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>

<div class="container-fluid bg-dark text-white text-center row " style="padding: 50px;margin: 0">
    <div class="col-12 col-sm-4">
        <img src="/img/{{lienImg}}" width="50%">
    </div>
    <div class="col-12  col-sm-4">
        <h3 class="" style="margin-bottom: 40px">{{titre}} (explication)</h3>
    </div>
    <div class="col-12  col-sm-4">
        Vous êtes sur la vidéo solution de <a href="/detailVid/{{id}}">cette vidéo</a>
    </div>

</div>


{{ > footer}}